<a href="https://colab.research.google.com/github/subhendu-majumder/powershell/blob/main/MLC31_Session4_Slot2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## reverse the words of string
s = 'nohtyP si nuf ot nrael'
' '.join([w[::-1] for w in s.split()])

'Python is fun to learn'

In [ ]:
' '.join(map(lambda x:x[::-1] , s.split()))

'Python is fun to learn'

In [ ]:
li = ['test_01.png','test_10.png','test_9.png']
li.sort(key = lambda x: int(x.split('_')[-1].split('.')[0]))
li

['test_01.png', 'test_9.png', 'test_10.png']

In [ ]:
from datetime import datetime as dt
temp = dt.strptime('20/10/2020','%d/%m/%Y')
temp

datetime.datetime(2020, 10, 20, 0, 0)

In [ ]:
## sort the reports based on the report genration date
ReportGenrationDates = {'P1':'26/01/2020','P2':'24/01/2020','P4':'27/02/2019', 'P3':'28/02/2020'}
PatientsReports = ['P1.png', 'P2.png', 'P3.png', 'P4.png']

In [ ]:
ReportGenrationDates['P2']

'24/01/2020'

In [ ]:
PatientsReports.sort(key = lambda x:dt.strptime(ReportGenrationDates[x.split('.')[0]],'%d/%m/%Y'))
PatientsReports

['P4.png', 'P2.png', 'P1.png', 'P3.png']

In [ ]:
## print the pattern
1
22
333
4444

N=5
for i in range(1,N+1):
  print(str(i)*i)

1
22
333
4444
55555

In [ ]:
## print the pattern
# *****
#  ***
#   *

In [ ]:
N = 10
for i in range(N)[::-1]:
  print(' '*(N-i) + '*'*(i*2+1))

 *******************
  *****************
   ***************
    *************
     ***********
      *********
       *******
        *****
         ***
          *

In [ ]:
## define a functions that will automatically set the alarm at three different time based on workday,weekend and holiday
## workday - 7:00
## Weekend - 10:00
## vacation - "OFF"

## File read write

Read Only (‘r’) : Open text file for reading. The handle is positioned at the beginning of the file. If the file does not exists, raises I/O error. This is also the default mode in which file is opened.

Read and Write (‘r+’) : Open the file for reading and writing. The handle is positioned at the beginning of the file. Raises I/O error if the file does not exists.

Write Only (‘w’) : Open the file for writing. For existing file, the data is truncated and over-written. The handle is positioned at the beginning of the file. Creates the file if the file does not exists.

Write and Read (‘w+’) : Open the file for reading and writing. For existing file, data is truncated and over-written. The handle is positioned at the beginning of the file.

Append Only (‘a’) : Open the file for writing. The file is created if it does not exist. The handle is positioned at the end of the file. The data being written will be inserted at the end, after the existing data.

Append and Read (‘a+’) : Open the file for reading and writing. The file is created if it does not exist. The handle is positioned at the end of the file. The data being written will be inserted at the end, after the existing data.

In [ ]:
fp = open('temp.txt', 'w')
fp.write('some text 1 \n')
fp.write('some text 2 \n')
fp.write('some text 3 \n')
fp.close()

In [ ]:
fp = open('temp.txt', 'r')
print(fp.read())
fp.close()

some text 1
some text 2
some text 3

In [ ]:
fp = open('temp.txt', 'r')
print(fp.readline())
fp.close()

some text 1

In [ ]:
fp = open('temp.txt', 'r')
print(fp.readlines()[2])
fp.close()

some text 3

In [ ]:
with open('temp.txt','w+') as fp:
  #print(fp.read())
  for i in range(10):
    fp.write(F'{i}) some text \n')
  fp.seek(0)
  print(fp.read())

0) some text
1) some text
2) some text
3) some text
4) some text
5) some text
6) some text
7) some text
8) some text
9) some text

In [ ]:
fp = open('temp.txt', 'r')
print(fp.read())
fp.close()

0) some text
1) some text
2) some text
3) some text
4) some text
5) some text
6) some text
7) some text
8) some text
9) some text

In [ ]:
import pandas as pd
import random
temp = pd.DataFrame()
temp['xyz'] = random.choices(['x','y','z'],k=100)
temp['target'] = random.choices([0,1],k=100)
temp

   xyz  target
0    x       1
1    y       1
2    x       1
3    z       0
4    y       0
..  ..     ...
95   y       1
96   z       0
97   y       0
98   z       0
99   z       1

[100 rows x 2 columns]

In [ ]:
temp.to_csv('temp.csv',index=False)

In [ ]:
pd.read_csv('temp.csv')

   xyz  target
0    x       1
1    y       1
2    x       1
3    z       0
4    y       0
..  ..     ...
95   y       1
96   z       0
97   y       0
98   z       0
99   z       1

[100 rows x 2 columns]

In [ ]:
temp.to_excel('temp.xlsx',index=False)

In [ ]:
pd.read_excel('temp.xlsx')

   xyz  target
0    x       1
1    y       1
2    x       1
3    z       0
4    y       0
..  ..     ...
95   y       1
96   z       0
97   y       0
98   z       0
99   z       1

[100 rows x 2 columns]

In [ ]:
MrJ = {'Country': ['Belgium',  'India',  'Brazil'],
        'Population': [11190846, 1303171035, 207847528]}

In [ ]:
import json

In [ ]:
json.dumps(MrJ)

'{"Country": ["Belgium", "India", "Brazil"], "Population": [11190846, 1303171035, 207847528]}'

In [ ]:
with  open('temp.json','w') as fp:
  fp.write(json.dumps(MrJ))

In [ ]:
with open('temp.json','w') as fp:
  json.dump(MrJ , fp)

In [ ]:
jsonString = '{"Country": ["Belgium", "India", "Brazil"], "Population": [11190846, 1303171035, 207847528]}'

In [ ]:
json.loads(jsonString)

{'Country': ['Belgium', 'India', 'Brazil'],
 'Population': [11190846, 1303171035, 207847528]}

In [ ]:
with open('temp.json','r') as fp:
  test = json.load(fp)

In [ ]:
test

{'Country': ['Belgium', 'India', 'Brazil'],
 'Population': [11190846, 1303171035, 207847528]}

In [ ]:
test['Country']

['Belgium', 'India', 'Brazil']

In [ ]:
class poly:
  pass

In [ ]:
rect = poly()
rect.l = 10
rect.w = 20

sqr = poly()
sqr.l = 10
sqr.w = 10

In [ ]:
class poly:
  def __init__(self,l,w):
    self.l = l
    self.w = w

In [ ]:
rect = poly(10,20)
sqr = poly(10,10)

In [ ]:
rect.l, rect.w

(10, 20)

In [ ]:
sqr.l, sqr.w

(10, 10)

In [ ]:
class customer():
  def __init__(self,Fname,Lname,Age,Gender,Mob):
    self.Name = F'{Fname} {Lname}'
    self.Age = Age
    self.Gender = Gender
    self.Mob = Mob
    self.cust_id = F'{Mob}_{Lname}'
    self.reward = 0
  
  def add_reward(self,value):
    self.reward +=value

In [ ]:
cust1 = customer('Manish','Kumar',30,'male','154654835')
cust2 = customer('Saurabh','baghel',25,'male','742458545')

In [ ]:
cust1.add_reward(10)
cust1.reward, cust1.Name

(10, 'Manish Kumar')

In [ ]:
cust2.reward, cust2.Name

(0, 'Saurabh baghel')

In [ ]:
cust2.add_reward(20)
cust2.reward, cust2.Name

(20, 'Saurabh baghel')

In [ ]:
class customer():
  bonus = 10
  def __init__(self,Fname,Lname,Age,Gender,Mob):
    self.Name = F'{Fname} {Lname}'
    self.Age = Age
    self.Gender = Gender
    self.Mob = Mob
    self.cust_id = F'{Mob}_{Lname}'
    self.reward = 0
  
  def add_reward(self,value):
    self.reward +=value

  def apply_bonus(self):
    self.reward += self.bonus

In [ ]:
cust1 = customer('Manish','Kumar',30,'male','154654835')
cust2 = customer('Saurabh','baghel',25,'male','742458545')

In [ ]:
cust1.apply_bonus()
cust2.apply_bonus()
cust1.reward , cust2.reward

(40, 10)

In [ ]:
cust1.bonus = 100

In [ ]:
customer.bonus

10

In [3]:
cust2.bonus

NameError: ignored

In [ ]:
cust1.apply_bonus()
cust2.apply_bonus()
cust1.reward , cust2.reward